.worldcup-tree div{
    border: 2px solid purple;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px; /* optional */
}
