.header{height: 450px;
background-image: url('../image/mustang.jpg');
background-size:100%;
}
h3{color: blueviolet;
    text-align: center;
}

p{color: aqua;}

.page-title{
    font-weight: 900;
    font-family: 'Lucida San';

}